<div id="question-section">
    <div id="card-display">
        <h3 class="text-center">Would you feel comfortable sharing information about:</h3>
        <h1 class="text-center"><%= @card.title.downcase  %> with <%= @recipient.role.downcase %>?</h1>
    </div>
    <div class="container-fixed" id="card-drop-area-container">
        <div class="row">
            <% color_classes = ['low','medium','high'] %>
            <div class="col-sm-6">
                <div class="category-button-outer category-button low">
                    <div id="response-yes">
                        <h1>Yes</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="category-button-outer category-button high">
                    <div id="response-no">
                        <h1>No</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <%= button_tag 'Next', class: "btn btn-primary form-control" %>
        </div>
    </div>
    
</div>
