<div class="row">
  <div class="col-md-4">
    <h4>Dr. Chris Burnett<br/><small>Research Fellow</small></h4>
    <p><a href="mailto:cburnett@abdn.ac.uk">cburnett@abdn.ac.uk</a></p>
    <p>Tel: +44 (0) 1224 274778</p>
    <p></p>
  </div>
  <div class="col-md-4">
    <h4>Dr. Mariesha Jaffray<br/><small>Research Fellow</small></h4>
    <p><a href="mailto:m.jaffray@abdn.ac.uk">m.jaffray@abdn.ac.uk</a></p>
    <p>Tel: +44 (0) 1224 557592</p>
  </div>
  <div class="col-md-4">
    <h4>Prof. Peter Edwards<br/><small>Principal Investigator</small></h4>
    <p><a href="mailto:p.edwards@abdn.ac.uk">p.edwards@abdn.ac.uk</a></p>
  </div>
</div>
