<h1>Health Information Privacy Survey</h1>

<p>This questionnaire is part of a large study (<a href="http://trump-india-uk.org">TRUMP</a>) funded by the <a href="http://www.rcuk.ac.uk/research/xrcprogrammes/Digital/Pages/home.aspx"</a>RCUK Digital Economy programme</a>. This study is a comparative study with India and is developing a support system for people living in rural areas who are suffering from depression using mobile phone technology.</p>

<p>Part of the system requires the user to share information with a health care professional (e.g. their GP or practice nurse). We want to find out what type of information you are comfortable sharing, and who you would be willing to share it with, by completing our <strong>card sorting task</strong>. This is based on a <a href="#">paper version which has been previously used in the US</a>.</p>

<p>Your responses are completely confidential and cannot be linked to you. At the end of the survey, we would like to collect some basic demographic data so we can describe who has completed the questionnaire. However, you can skip this step if you would rather not give us this information.</p>

<p>If you want to contact a member of the team to ask a question or for more information, please click on the email button or phone us on the numbers below.</p>

<%= render "contact_details" %>

<p>If you would like to continue, please click the button below to begin.</p>


<%= link_to "Begin survey", new_survey_response_path, class: "btn btn-primary" %>
