<h1>Health Information Privacy Survey</h1>
<p>The aim of this study is to learn about the kinds of attitudes people hold with regards to their personal health information, how it is shared and used, and how much control should be exerted over it.</p>



<p>[what's required for ethics?]</p>

<%= link_to "Begin survey", new_survey_response_path, class: "btn btn-primary" %>
