<h1>Survey Response <%= @survey_response.rnid %></h1>

<% @survey_response.card_placements.each do |placement| %>
    <p>Card <%= placement.card.title %> was placed on category <%= placement.sensitivity_category.title %></p>
<% end %>

Response: <%= @survey_response.questionnaire_response.gender %>
