#card-display {
  padding: 5px;
}

.category-button-description {
  color: #18bc9c;
  vertical-align: middle;
  text-align: center;  
}

.category-button-outer {
  /*width: 47%;  for 2 columns */
  /*width: 31%; /* for 3 columns */
  margin: 0 2% 15px 0;
  padding-bottom: 20%;
  padding-top:50px;
  min-height: 100%;
  border-width: 2px;
  border-radius: 5px;
  overflow: visible;
  /*vertical-align: middle;*/
  text-align: center;
}

.category-button {
  border-style: dashed;
  background: none;
  border-width: 3px;
  color: #2D3E4F;
}

.low {
  border-color: #3498db;
}

.medium {
  border-color: #f39c12;

}

.high {
  border-color: #e74c3c;

}
