/*
 * Require the fluid squares css to get the cards to work.
 */


.card-drop-area-outer {
  /*width: 47%;  for 2 columns */
  width: 31%; /* for 3 columns */
  margin: 0 2% 30px 0;
  padding-bottom: 40%;
  min-height: 100%;
  border-style: dashed;
  border-color: #18bc9c;
  color: #18bc9c;
  border-width: 2px;
  border-radius: 5px;
  overflow: visible;
}

.card-drop-area{
  position:absolute;
  width:100%;
  height:100%;
  /*display: table-cell;*/
  vertical-align: middle;
  text-align: center;
  z-index: -1;
}

.card-drop-area-container {
  overflow: visible;
}

.modal-dialog {
  left: auto;
  width: 700px;
}

.hover {
  border-style: solid;
  background: #effeff;

}

.recipient-name-display {
  
}

.card {
  /*display: table-cell;*/
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  position: absolute;
  padding: 10px;
  height: 70px;
  width: 150px;
  text-align: center;
  color: #fff;
  border-color: #1e2a36;
  background: #2c3e50;
  z-index:200;
}

.card-drop-area-description {
  color: #18bc9c;
  
}

.inactive {
  background: #fff;
  color: #2c3e50;
  
}

.card-spaced {
  margin-left: 30px;

}

.card.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#card-deck {
  border-style: dashed;
  border-color: #18bc9c;
  border-radius: 5px;
  border-width: 2px;
  position: absolute;
  z-order: -1;
  height: 70px;
  width: 150px;
  
}

/* Two Column 

@media screen and (min-width:800px) {
.card-drop-area {
width: 47%;
margin: 0 3% 20px 0;
padding-bottom: 39%;
}
}*/

/* Three Column */
/*
  @media screen and (min-width:800px) {
  .card-drop-area {
  width: 31%;
  margin: 0 2% 20px 0;
  padding-bottom: 24%;
  }
  }*/

/* Four Column 

@media screen and (min-width:1200px) {
.card-drop-area {
width: 23%;
margin: 20px 2% 0 0;
padding-bottom: 23%;
}
} */

/**** Isotope Filtering 

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
****/
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}